.main {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  transition: all 1s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main.signed-in {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
